    body {
        background: url(../imgs/bg.jpg) #FFDEAD center 0 no-repeat fixed;
        background-size:100% 100%;
        margin: 0px;
        font-family: "Hiragino Sans GB", Lucida Sans Unicode, Hiragino Sans GB, Consolas, Courier New, WenQuanYi Micro Hei, Verdana, "Microsoft YaHei","WenQuanYi Micro Hei", Aril, sans-serif;
        padding-top: 10px;
    }
    .clearfix:before,
    .clearfix:after {
        display: table;
        content: " ";
    }

    .clearfix:after {
        clear: both;
    }
    .header {
        margin: 0px auto;
        width: 880px;
        height: 160px;                
        /*background: rgba(255, 255, 255, .3);*/
        padding: 10px 20px;
    }
    .header_left_top {
        width: 220px;
        height: 100px;
        margin-left: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: rgba(255,255,255,.5);
        filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#57000000,endcolorstr=#57000000);
        float: left;
    }
    .header_pic {
        float: left;
    }
    .header_name {
        padding-top: 20px;
        color: #cc0000;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 1px 1px #fff;
        border-radius: 10px;
    }
    .header_right_top {
        width: 400;
        height: 90;
        margin-left: 320px;
        margin-right: 20px;
    }
    .header_contact {
        padding: 10px 10px;
    }
    ul{
        width:301px;
        left:-1px;
    }
    li{
        float:left;
        width:58px;
        height:26px;
        line-height:26px;
        text-align:center;
        overflow:hidden;
        padding:0 1px;
        border-bottom:1px solid rgba(255,255,255,.6);
    }
    li.select{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background:rgba(255, 255, 255, .5);
        border-bottom-color:rgba(255, 255, 255, .3);
        border-left:1px solid rgba(255, 255, 255, .3);
        border-right:1px solid rgba(255, 255, 255, .3);
        padding:0;
        font-weight:bolder;
    }
    li a, li a:hover,li a:link,li a:visited{
        text-decoration:none;
        color: #fff; text-shadow: 
        1px 1px 1px #cc0000;
    }
    .mod{
        left: -150px;
        padding: 35px 8px 0 40px;
        width: 300px;
        text-align: center;
    }
    .mod .p,
    .mod a {
        padding: 5px;
        border-radius: 2px;
        text-decoration:none;
        color: #fff; text-shadow: 1px -1px 1px #ff4500;
        font-size: 18px;
        font-weight: bold;
        background: rgba(0,0,0,.2);
    }
    .mod a:hover {
        background: rgba(255,255,255,.6);
        filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#57000000,endcolorstr=#57000000);
    }
    .header_skills {
        /*border-top: 5px solid rgba(250,250,250,.6);
        border-bottom: 1px dashed rgba(250,250,250,.6);*/
        background: rgba(255,255,255,.5);
        filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#57000000,endcolorstr=#57000000);
        padding: 20px 20px;
    }
    .skill {
        font-size: 19px;
        color: #fff; text-shadow: 1px -2px 1px #ff4500;
    }
    .level {
        color: #fff; /*#8B4513 rgba(0,0,0,.6)*/
        font-size: 17px;
        text-shadow: 0px 0px 1px #8B4513;
        margin-right: 20px;
    }
    .container {
        width: 960px;
        margin: 0px auto;
        position: relative;
    }
    .scrubber {
        width: 47px;
        min-height: 200px;
        position: absolute;
        top: 29px;
        /******LEFT******/
        left: 50px;
        z-index: 999;
        /*background: rgba(255,255,255,.2);*/
    }
    .scrubber a{
        display: block;
        height: 25px;
        line-height: 25px;
        font-size: 13px;
        border-right: 2px solid #fff;
        border-right-color: #fff;
        padding-right: 5px;
        color: #fff;
        text-decoration: none;
        text-shadow: 0px 0px 1px #8B4513;
        text-align: right;
    }
    .scrubber a:hover,
    .scrubber a.current{
        border-right-color: #5ecb4c;
        color: #5ecb4c;
        font-weight: bold;
    }
    .scrubber a:hover{text-decoration: underline;}
    .scrubber a.current:hover{text-decoration: none;}
    .content {
        min-height: 1000px;
        background: url(../imgs/line.gif) repeat-y 171px 0;
        padding-top: 30px;
        /******Line left*****/
        padding-left: 210px;
        position: relative;
        padding-bottom: 50px;
    }
    .content_year,
    .content_month {
        height: 30px;
        line-height: 30px;
        color: #fff;
        text-shadow: 0px 0px 1px #8B4513;
        font-weight: bold;
        font-size: 14px;
        position: relative;
        left: -90px;
        clear: both;
    }
    .content_item {
        width: 600px;
        min-height: 0px;
        background: rgba(255,255,255,.4);
        filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#57000000,endcolorstr=#57000000);
        border-radius: 10px;
        margin: 20px 30px 0 0;
        position: relative;
        color: #000;
    }
    .content_item_icon_arrow {
        position: absolute;
        left: -10px;
        top: 20px;
        width: 0;
        height: 0;
        border-color: transparent rgba(255,255,255,.4) transparent transparent;
        border-width: 10px 10px 10px 0px;
        border-style: dashed solid dashed dashed;
    }
    .content_item_icon_dot {
        width: 11px;
        height: 11px;
        border-radius: 11px;
        background: #fff;
        left: -43px;
        top: 25px;
        position: absolute;
    }
    .content_item_icon_dot_child {
        width: 7px;
        height: 7px;
        border-radius: 7px;
        background: #5ecb4c;
        left: 2px;
        top: 2px;
        position: absolute;
    }
    .content_item_head {
        padding: 15px;
        padding-bottom: 0px;
    }
    .content_item_head_title {
        height: 46px;
        line-height: 46px;
        color: #1C1C1C;
        font-size: 28px;
        padding: 0 0 10px 56px;
        position: relative;
    }
    .content_item_head_title_day {
        width: 46px;
        height: 46px;
        background: rgba(0,0,0,.1);
        border-radius: 8px;
        position: absolute;
        left: 0; top: 0;
        overflow: hidden;
        color: #fff;
        font-size: 40px;
        text-align: center;
    }
    .content_item_head_intro {
        color: #1C1C1C;
        font-size: 15px;
        line-height: 22px;
        padding: 5px 30px;
        margin-bottom: 10px;
    }
    .content_item_footer {
        font-size: 14px;
        font-weight: bold;
        margin: 0 15px;
        border-top: 1px solid #d6d6d6;
        color: #363636;
        line-height: 22px;
        padding: 10px 15px;
    }
    .content_item a {
        color: #00FF7F;
        text-decoration: none;
    }
    .content_item a:hover {
        color: #008B00;
    }
    .content_item a:visited {
        color: #548B54;
    }
    .hide {
        display: none;
    }
